@import '../../../../App.scss';

.btn {
    @include btn;
}

.host {
    padding: 0;
    margin-bottom: 1rem;

    .hostItem {
        border: $border;
        border-radius: 0.4rem;
        padding: 1rem;
        text-align: center;

        h3{
            @include title(1.8rem);
            display: inline-block;
        }

        .row{
            display: flex;
            align-items: center;
        }
        img{
            border-radius: 50%;
            width: 5.5rem;
            height: 5.5rem;
            margin: 1rem;
        }

        

        p{
            color: $gray;
        }
    }

}