@import "../../../App.scss";

.myBill {
  padding: 0 1rem;

  .table {
    border: $border;
    margin: auto;
    th {
      border-bottom: none;
    }
    thead {
      th {
        border-bottom: 2px solid $red;
        text-align: center;
        color: $navi;
      }
    }
    tbody {
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }
    }
  }
}
