@import "../../../App.scss";

.btn {
  @include btn;
}

@import "../../../App.scss";

.listOption {
  .sidebar {
    border: 1.5px solid #1b34532b;
    box-shadow: 0.3rem 0.3rem #1b34532b;
    border-radius: 10px;

    h3 {
      @include title(1.8rem);
    }

    .filter {
      display: flex;
      align-items: center;

      p {
        margin: 0 0.2rem;
        flex: 1;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .listOption {
    width: 85%;
    margin: auto;
  }
}
