@import "../../App.scss";



.controllTabs {
  margin-bottom: 1rem;

  h1 {
    @include title(3rem);
    max-width: 40%;
    margin: auto;
  }

  .nav-tabs {
    .nav-item {
      width: calc(100% / 3);

      button {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: $navi;
        background: none;
        border: none;
        border-bottom: $red solid 0px;

        &:hover {
          color: $red;
        }

        &:focus {
          background: rgb(238, 238, 238);
          outline: none;
        }
      }

      .active {
        color: $red;
        border-bottom: $red solid 2.5px;
        transition: linear 0.7s;
      }
    }
  }
}
