@import "../../../App.scss";

.hostelList {
  .head {
    margin-bottom: 1rem;
    h3 {
      @include title(3.3rem);
    }

    p {
      color: $gray;
    }
  }
  .btn {
    @include btn;
  }

  .box-content {
    @include grid(20rem);
    transition: 0.6s all linear;

    .Opps {
      display: flex;
      height: 15rem;
      justify-content: center;
      align-items: center;
      color: $red;

      span {
        color: $navi;
        margin: 0 0.5rem;
        font-size: 3.5rem;
      }
    }
  }

  .list_more {
    margin: 2rem 0;

    .btn {
      font-size: 1.2rem;
    }
  }
}
