@import '../../../App.scss';

.blog {
    .row {
        .titles {
            @include title(4rem);
        }

        img {
            width: 98%;
        }

        .name {
            color: $navi;
            margin-top: 1rem;
        }

        i {
            color: $red;
            font-size: 1.5rem;
        }

        p {
            color: $gray;
        }
    }
}