@import "../../../App.scss";

.close {
  font-size: 2rem;
}
.modal {
  color: $navi;
  .modal-dialog {
    max-width: 40rem;
    .modal-content {
      .modal-header {
        padding-top: 0;
        padding-bottom: 0;
        .modal-title {
          @include title(2rem);
          margin: auto;
        }
      }
    }
  }
  .btn {
    @include btn;
  }

  .swiper {
    width: 100%;
    height: 15rem;
  }

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%;
    height: 15rem;
  }

  .swiper-slide:nth-child(1n) {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

  p{
    font-weight: 500;
    
    i{
        width: 1.1rem;
        color: $red;
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
    span{
        @include title(1rem);
    }
  }
}
