@import "../../../App.scss";

.SlideRoom {
  width: 100%;

  h3 {
    @include title(2.8rem);
  }

  .SlideRoom_item {
    width: 100%;
    background: #bfd7ea28;
    border: 2px solid #1b34532b;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    margin: 2.5rem 0;

    .swiper-wrapper {
      width: 100%;
      position: relative;
      margin: 0 0 1rem 0;
      padding: 1rem 0;
    }

    .swiper-pagination {
      position: absolute;
      bottom: 0;
    }
  }

  .infor {
    z-index: 1000;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 12px;
    box-shadow: 0.3rem 0.3rem #1b34532b;
    background: $white;
    border: 0.2px solid #1b34532b;
    position: relative;

    &:hover {
      transform: scale(1.03);

      .image {
        .icons {
          transform: translateY(0);
        }
      }
    }

    .image {
      position: relative;
      overflow: hidden;

      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .icons {
        background: #1b3453c6;
        height: 2.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0rem;
        padding: 0 1rem;
        z-index: 10;
        transform: translateY(10rem);

        a {
          color: $white;
          text-transform: capitalize;
          text-decoration: none;

          i {
            color: $red;
            font-size: 1.2rem;
          }
        }
      }
    }

    .content {
      padding: 0.7rem;

      h3 {
        @include title(1.6rem);
      }

      p {
        color: $gray;
      }

      span {
        color: $navi;
      }
    }
  }
}
