@import "../../App.scss";

footer {
  background: $navi;
  color: $white;
  padding: 0.8rem 6%;

  .btn {
    @include btn;
  }

  .logo a {
    text-decoration: none;
    font-size: 2.5rem;
    color: $white;
    font-weight: 700;
  }

  .box-mail {
    transition: 0.4s all linear;
    margin-top: 12px;

    &:hover {
      i {
        transform: scale(1.1);
      }
    }

    i {
      padding: 1rem;
      background: $red;
      border-radius: 50%;
      font-size: 1.5rem;
    }

    a {
      color: $white;
      &:hover {
        color: rgb(213, 210, 210);
      }
    }
  }

  .social {
    a {
      font-size: 1.14rem;
    }
  }

  .support {
    p {
      &:hover {
        color: rgb(188, 187, 187);
      }
    }
  }
}
