.table{
    padding-left: 2rem;
    width: 90%;
    .tab-pane {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        margin-left: 3rem;
    }

    table {
        border: 2px solid #dd1f26;
        width: 80%;
        height: 200px;
    }

    th {
        border-bottom: 1px solid black;
    }

    td {
        text-align: center;
    }
}