@import "../../../App.scss";

.bookingDetail {
  th {
    text-align: center;
    color: black !important;
  }
  td {
    text-align: center;
    font-size: 1rem;
    color: $navi;
    justify-content: center;
    align-items: center;
  }
}
