@import '../../App.scss';

.btn {
    @include btn;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../../public/images/banner-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    margin-right: 0;
    

    .content{
        text-align: center;
        color: $white;
        margin-left: 20rem;
        margin-right: 20rem;
        
        h1{
            font-size: 3rem;
            text-shadow: 0.2rem 0.2rem #274c785d;
            span{
                text-transform: capitalize;
            }
        }

        p{
            color: $white;
        }

        a{
            font-size: 1.3rem;
            text-shadow: none;
        }
    }
}