@import "../../App.scss";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../../public/images/banner-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
  margin-right: 0;

  .btn {
    @include btn;
  }

  .content {
    text-align: center;
    color: $white;
    margin-left: 20rem;
    margin-right: 20rem;

    h1 {
      font-size: 3rem;
      text-shadow: 0.2rem 0.2rem #274c785d;
      span {
        text-transform: capitalize;
      }
    }

    p {
      color: $white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .content {
      margin-left: 0rem;
      margin-right: 0rem;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
